.button-spot {
  padding: 13px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #fca976;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button-spot:hover {background-color: #FF904C}

.button-spot:active {
  background-color: #FF904C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
