.card-spot {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  max-height: 290px;
  margin: 15px;
  justify-content: center;
  border-radius: 4px 4px 4px 4px;
}

.card-spot > img {
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.card-spot h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-spot .card-spot-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-spot-infos p {
  font-size: 15px;
  font-weight: lighter;
}

.card-spot-infos a {

}


.card-spot-infos a:hover {
  text-decoration: none;
}