.air-temp {
  border-radius: 15px;
  background: #E9EEFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  h4 {
    color: #1F4EC5;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Varela Round', sans-serif;

  }
  h5 {
    color: #1F4EC5;
    font-family: 'Varela Round', sans-serif;
  }
}

.water-temp {
  border-radius: 15px;
  background: #E9EEFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
    h4 {
    color: #1F4EC5;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Varela Round', sans-serif;
  }
  h5 {
    color: #1F4EC5;
    font-family: 'Varela Round', sans-serif;
  }
}

.wave-height {
  border-radius: 15px;
  background: #E9EEFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
    h4 {
    color: #1F4EC5;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Varela Round', sans-serif;
  }
  h5 {
    color: #1F4EC5;
    font-family: 'Varela Round', sans-serif;
  }
}

.wind-spot-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

