.air-temp {
  border-radius: 15px;
  background: #E9EEFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.water-temp {
  border-radius: 15px;
  background: #E9EEFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.wave-height {
  border-radius: 15px;
  background: #E9EEFA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}
